// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBDPn-ysZ6-B5qIypwsU4xwQ5fu0SEN6yc",
  authDomain: "portfoliowebsite-3754e.firebaseapp.com",
  databaseURL: "https://portfoliowebsite-3754e.firebaseio.com",
  projectId: "portfoliowebsite-3754e",
  storageBucket: "portfoliowebsite-3754e.appspot.com",
  messagingSenderId: "986657703610",
  appId: "1:986657703610:web:f404d197d31181bf"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);